@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700;900&display=swap');

body {
  font-family: 'Noto Sans Display', sans-serif;
  position: relative;
}

p {
  border: 1px solid red;
  /* width: 200px; */
  height: 200px;
  padding: 50px;
}

span {
  border: 1px solid blue;
  width: 200px;
  padding: 50px;
  margin: 50px;
}

a {
  border: 1px solid blue;
  
}

div {
  border: 1px solid blue;
}