@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700;900&display=swap');

body {
  font-family: 'Noto Sans Display', sans-serif;
  position: relative;
}

div {
  background: red;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 20px;

  visibility: hidden;
}