@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700;900&display=swap');

/* em vs rem */

body {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 14px;
}

/* em --> relativo a classe pai */
/* Acabamos não usando muito */
div {
  font-size: 1.2em;
  /* Primeira DIV -> 14 * 1.2 = 16,8px */
  /* Segunda DIV -> 16 * 1.2 = 20,16px */
}

/* rem --> relativo ao body */
div {
  font-size: 1.2rem;
}